<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	index.html
	<div sec:authorize="isAnonymous()">
		<h5>isAnonymous</h5>
		<a th:href="@{/index}">/index</a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<h5>isAuthenticated</h5>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
		<dl>
			<dt>name:</dt>
			<dd sec:authentication="name" />
			<dt>principal:</dt>
			<dd sec:authentication="principal" />
			<dt>credentials:</dt>
			<dd sec:authentication="credentials" />
			<dt>authorities:</dt>
			<dd sec:authentication="authorities" />
			<dt>details:</dt>
			<dd sec:authentication="details" />
			<dt>details.remoteAddress:</dt>
			<dd sec:authentication="details.remoteAddress" />
			<dt>details.sessionId:</dt>
			<dd sec:authentication="details.sessionId" />
			<dt>details.tokenType:</dt>
			<dd sec:authentication="details.tokenType" />
			<dt>details.tokenValue:</dt>
			<dd sec:authentication="details.tokenValue" />
		</dl>
		<h6>authorities:</h6>
		<ul th:each="item : ${#authentication.authorities}">
			<li th:text="${item.authority}"></li>
		</ul>
	</div>
	<div sec:authorize-url="/index">
		<h6>api:</h6>
		<ul>
			<li><a th:href="@{/api/resource/oauth/user_info}">/api/resource/oauth/user_info</a></li>
			<li><a th:href="@{/api/client/foo}">/api/client/foo</a></li>
			<li><a th:href="@{/api/hystrix/test}">/api/hystrix/test</a></li>
			<li><a th:href="@{/api/feign/test}">/api/feign/test</a></li>
		</ul>
	</div>
</body>
</html>